<div id="spinner-overlay">
    <div class="animation-container">
        <i class="fa fa-cloud cloud-icon cloud1" aria-hidden="true"></i>
        <i class="fa fa-cloud cloud-icon cloud2" aria-hidden="true"></i>
        <div class="truck-container">
            <img src="~/assets/Quickpass.png"
                alt="Camión" class="truck-icon">
        </div>
    </div>
</div>